body {
    margin: 10px;
    font-size: 16px;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #FFFFFF;
}

#header1 {
    background: #3D668F;
    height: 60px;
    width: 100%
}

#logo {
    font-size: 20px;
    padding: 18px 10px 12px 15px;
    color: #FFFFFF;
}

#registration {
    padding: 10px 0px 10px 0px;
}

.txt {
    width: 150px;
}

.itxt {
}

.txtb {
    font-weight: bold;
}

.txt_pur1 {
    font-weight: bold;
    width: 15%;
    min-width: 150px;
    vertical-align: top;
}

.txt_pur2 {
    width: 85%;
}

.inputedt { border: 1px solid black; width: 250px;}
.inputedt.error { border: 1px solid red; }
label.error {
		background: url('../images/cancel.png') no-repeat;
		padding-left: 26px;
        color: red;
}
label.valid {
		background: url('../images/active.png') no-repeat;
		display: block;
        margin-bottom: 3px;
}

#sidebar h3 {font-size:19px; font-weight:normal;}
#sidebar ul {margin:0; padding:0; border-top:0px solid #3D668F;}
#sidebar li {list-style:none; border-bottom:0px solid #3D668F;}
#sidebar li a {color:#111111; text-decoration:none; padding:3px; display:block;}
#sidebar li a:hover {background-color:#F7F7F7;}

#footer {height:60px; color:#3D668F; font-size:13px; border-top:1px solid #3D668F; clear:both;}
#footer a {color:#3D668F;}
#footer a:hover {color:#3D668F;}
#footer_left {float:left; padding:12px 0 0 12px;}
#footer_right {float:right; padding:12px 12px 0 0;}

.ui-jqgrid tr.jqgrow td {
white-space: normal !important;
height:auto;
vertical-align:text-top;
padding-top:2px;
}

.ui-jqgrid .ui-jqgrid-htable th div {
height:auto;
overflow:hidden;
padding-right:4px;
padding-top:2px;
position:relative;
vertical-align:text-top;
white-space:normal !important;
}

th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 2px;
}

iframe {
    border: none;
}

.field {clear:both; text-align:right; line-height:25px; padding-top:10px;}
label {float:left; padding-right:10px;}
.main {float:left}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type=radio] {
    bottom: 2px;
}

#accordion
{
    width:100%;
    height:1400px;
    /*padding-top:80px;*/
    /*padding-left:100px;*/
}